# Runs process_dataset.py on all files in the database.

name: Validation

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      # Runs when this file is modified in a PR.
      - '.github/workflows/validation.yml'

env:
  ORD_SCHEMA_TAG: v0.3.33

jobs:
  validate_database:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        filter: ['data/\d{2}', 'data/\d[a-z]', 'data/[a-z]']
    steps:
    - name: Checkout ord-data
      uses: actions/checkout@v2
      with:
        lfs: true
    - name: Checkout ord-schema
      uses: actions/checkout@v2
      with:
        repository: Open-Reaction-Database/ord-schema
        ref: ${{ env.ORD_SCHEMA_TAG }}
        path: ord-schema
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install ord_schema
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        python -m pip install .
    - name: Validate datasets
      env:
        FILTER: ${{ matrix.filter }}
      run: |
        cd "${GITHUB_WORKSPACE}"
        python ./ord-schema/ord_schema/scripts/validate_dataset.py \
          --input="data/*/*.pb*" \
          --filter="${FILTER}"
